{% extends 'base.html' %}

{% block title %}
    {{ user.profile.get_screen_name }}
{% endblock %}

{% block icerik %}
    <div class="row" style="margin-top: 50px">
        <div class="col-lg-8 user-profile" style="float: none; margin: 0 auto;">
            <div class="text-center">
                <img class="img-circle" style="width: 150px;" src="{{ user.userprofile.get_profile_photo }}">
            </div>
            <div class="text-center">
                <br>
                {% if user.userprofile.user_full_name %}
                    <span class="text"><b>{{ user.userprofile.user_full_name|upper }}</b></span>
                    <br>
                {% endif %}
                <span class="text">
                    <b>@{{ user.username }}</b>
                </span>
            </div>
            {% if request.user == user %}
                {% include 'kullanici/profile/include/owner_navbar.html' %}
            {% else %}
                {% include 'kullanici/profile/include/visitor_navbar.html' %}
            {% endif %}
            <div>
                {% block profil_icerik %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}